.game_map {
  border: 1px solid white;
  width: 800px;
  height: 600px;
}

.game_menu {
  border: 1px solid white;
  width: 800px;
  height: 100px;
  margin-top: 10px;
}

.game_menu_item {
  height: 100px;
  box-sizing: border-box;
  display: block;
  float: left;
}

.game_menu_item.selected img {
  opacity: .5;
  background-color: white;
}

.menu_item_icon {
  width: 80px;
  height: 80px;
  margin: 10px 0 10px 10px;
  border: 1px solid white;
}

.game_menu_item :hover {
  opacity: .2;
  background-color: white;
}

.game_grid {
  border-spacing: 0;
}

.game_grid tr {
  height: 100px;
}

.game_grid tr td {
  width: 100px;
  border: 1px solid #1e1e1e;
  vertical-align: top;
}

.game_grid_loading {
  text-align: center;
}

.game_grid tr td .delete {
  display: none; /* Icon not visible until mouse moved over */
  width: 20px;
  float: right;
}

.game_grid tr td:hover .delete {
  display: block;
  margin: 5px;
  padding: 0;
}
