.menu {
  float: left;
}

.menu_item {
  width: 100px;
  margin: 10px;
  border: 1px solid white;
}

.menu_item :hover {
  background-color: #3e3b3e;
}

.menu a {
  display: block;
  padding: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
}
