body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#menu-container {
  float: left;
  height: 100%;
}

#threejs-container {
  float: left;
  width: 1000px;
}

#unit-menu, #info-container {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.info-section {
  width: 100%;
  padding: 5px 0 0 0;
  margin: 15px 0 0 0;
  border-top: 1px solid black;
}

.unit-icon {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  padding: 5px;
  margin-right: 5px;
}

.unit-icon.selected {
  background-color: aqua;
}

#error-container {
  color: red;
}